# Ignore Gradle project-specific cache directory
.gradle

# Ignore Intellij project configuration directory
.idea

# Ignore Gradle build output directory
build

# Ignore Intellij build output directory
out
